spring:
  application:
    name: file-service
  config:
    import: "optional:configserver:http://localhost:8888"
  cloud:
    compatibility-verifier:
      enabled: false

logging:
  level:
    org:
      springframework: INFO