server:
  port: 8082
  servlet:
    context-path: /profile
spring:
  application:
    name: user-service
  datasource:
    url: jdbc:mysql://localhost:3306/profile_service
    username: root
    password: 814362
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
app:
  services:
    file: http://localhost:8085